@* @inject IUserInfoService userinfoSrv *@
@{
    var userinfo = new { Avatar = "", UserDisplayName = "Guest" };
}
@if (userinfo != null)
{
    string avatar = string.IsNullOrWhiteSpace(userinfo.Avatar) ? "pgpic.jpg" : userinfo.Avatar;
    <li class="dropdown notification-list topbar-dropdown">
        <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="~/Profiles/avatar/@avatar" alt="user-image" class="rounded-circle">
            <span class="pro-user-name ms-1">
                @userinfo.UserDisplayName <i class="mdi mdi-chevron-down"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end profile-dropdown ">

            <a asp-area="" asp-controller="Profile" asp-action="Index" class="dropdown-item notify-item">
                <i class="ri-account-circle-line"></i>
                <span>پروفایل من</span>
            </a>
           @*

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="ri-settings-3-line"></i>
                <span>تنظیمات</span>
            </a>*@

            <!-- item-->
            @* <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-wallet-line"></i>
        <span>My Wallet <span class="badge bg-success float-end">3</span> </span>
        </a>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
        <i class="ri-lock-line"></i>
        <span>Lock Screen</span>
        </a>*@

            @*<div class="dropdown-divider"></div>*@

            <!-- item-->
            <a asp-area="" asp-controller="Auth" asp-action="LogOut"  class="dropdown-item notify-item">
                <i class="ri-logout-box-line"></i>
                <span>خروج</span>
            </a>

        </div>
    </li>



}
