
<div class="right-bar">
    <div data-simplebar class="h-100">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-bordered nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link py-2" data-bs-toggle="tab" href="#chat-tab" id="LoadReceivedMessages" role="tab">
                    <i class="mdi mdi-message-text-outline d-block font-22 my-1"></i>
                </a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content pt-0">
            <div class="tab-pane" id="chat-tab" role="tabpanel">



                <h6 class="fw-medium px-3 mt-2 text-uppercase">پیام های دریافتی </h6>
                <div class="p-2" id="ReceivedMessagesContainer">
                </div>
                <h6 class="fw-medium px-3 mt-2 text-uppercase">پیام های ارسالی </h6>
                <div class="p-2" id="SendMessagesContainer">
                </div>

            </div>


        </div>


    </div>

</div>