
<div class="right-bar">
    <div data-simplebar class="h-100">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-bordered nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link py-2 active" data-bs-toggle="tab" href="#settings-tab" role="tab">
                    <i class="mdi mdi-cog-outline d-block font-22 my-1"></i>
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content pt-0">
           
            <div class="tab-pane active" id="settings-tab" role="tabpanel">
                <h6 class="fw-medium px-3 m-0 py-2 font-13 text-uppercase bg-light">
                    <span class="d-block py-1">تنظیمات تم</span>
                </h6>

                <div class="p-3">
                    <div class="alert alert-warning" role="alert">
                        تنطیمات تم را میتونید شخصی سازی نمایید
                    </div>

                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">رنگ تم </h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light" id="light-mode-check" checked>
                        <label class="form-check-label" for="light-mode-check">حالت روشن</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark" id="dark-mode-check">
                        <label class="form-check-label" for="dark-mode-check">حالت تاریک</label>
                    </div>

                    <!-- Width -->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">عرض</h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                        <label class="form-check-label" for="fluid-check">صفحه کامل</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                        <label class="form-check-label" for="boxed-check">ثابت</label>
                    </div>


                    <!-- Topbar -->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">نوار بالا</h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="topbar-color" value="dark" id="darktopbar-check" checked>
                        <label class="form-check-label" for="darktopbar-check">تاریک</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="topbar-color" value="light" id="lighttopbar-check">
                        <label class="form-check-label" for="lighttopbar-check">روشن</label>
                    </div>


                    <!-- Menu positions -->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">موقعیت منو <small>(منو و نوار بالا)</small></h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="menus-position" value="fixed" id="fixed-check" checked>
                        <label class="form-check-label" for="fixed-check">ثابت</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="menus-position" value="scrollable" id="scrollable-check">
                        <label class="form-check-label" for="scrollable-check">اسکرول پذیر</label>
                    </div>


                    <!-- Left Sidebar-->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">منو کنار</h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-color" value="light" id="light-check" checked>
                        <label class="form-check-label" for="light-check">روشن</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-color" value="dark" id="dark-check">
                        <label class="form-check-label" for="dark-check">تاریک</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-color" value="brand" id="brand-check">
                        <label class="form-check-label" for="brand-check">برند</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-color" value="gradient" id="gradient-check">
                        <label class="form-check-label" for="gradient-check">گرادیانت</label>
                    </div>


                    <!-- size -->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">اندازه منو کنار</h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-size" value="default" id="default-size-check" checked>
                        <label class="form-check-label" for="default-size-check">پیش فرض</label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-size" value="condensed" id="condensed-check">
                        <label class="form-check-label" for="condensed-check">متراکم <small>(خیلی کوچک)</small></label>
                    </div>

                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-size" value="compact" id="compact-check">
                        <label class="form-check-label" for="compact-check">فشرده <small>(کوچک)</small></label>
                    </div>


                    <!-- User info -->
                    <h6 class="fw-medium font-14 mt-4 mb-2 pb-1">نمایش پروفایل</h6>
                    <div class="form-check form-switch mb-1">
                        <input class="form-check-input" type="checkbox" name="leftsidebar-user" value="fixed" id="sidebaruser-check">
                        <label class="form-check-label" for="sidebaruser-check">فعال</label>
                    </div>

                    <div class="d-grid mt-4">
                        <button class="btn btn-primary" id="resetBtn">تنظیمات پیشفرض</button>

                    </div>

                </div>

            </div>
        </div>

    </div> <!-- end slimscroll-menu-->
</div>