<li class="dropdown d-none d-lg-inline-block topbar-dropdown">
	<a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
		<i class="fe-grid noti-icon"></i>
	</a>
	<div class="dropdown-menu dropdown-lg dropdown-menu-end p-0">

		<div class="p-2">
			<div class="row g-0 ">
				<div class="col ">
					<a class="dropdown-icon-item m-1" asp-controller="محصولات" asp-action="Index">
						<img src="~/images/dashboard/rep.png" alt="محصولات">
						<span>محصولات</span>
					</a>
				</div>

			</div>

		</div>

	</div>
</li>

