@* @inject IUserInfoService userinfoSrv *@
@{
    var userinfo = new { UserDisplayName = "Guest" };
}
@if (userinfo != null)
{

<div class="user-box text-center">
    <img src="~/images/logo-main.png" alt="user-img" title="Mat Helme"
         class="rounded-circle avatar-md">
    <div class="dropdown">
        <a href="#" class="text-reset dropdown-toggle h5 mt-2 mb-1 d-block"
               data-bs-toggle="dropdown"> @userinfo.UserDisplayName</a>
        <div class="dropdown-menu user-pro-dropdown">

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-user me-1"></i>
                    <span>پروفایل من</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="fe-settings me-1"></i>
                    <span>تنظیمات</span>
            </a>

            <!-- item-->
                <a asp-area="" asp-controller="Auth" asp-action="LogOut" class="dropdown-item notify-item">
                    <i class="ri-logout-box-line"></i>
                    <span>خروج</span>
                </a>

        </div>
    </div>
</div>
}